<h1>Places</h1>

<a href="/places/new"><button>New Place</button></a>

<ul style="list-style: none; padding: 0;">
  <% for place in @places %>
    <li style="margin-bottom: 10px;"><a href="/places/<%= place["id"] %>"><%= place["name"] %></a></li>
  <% end %>
</ul>