<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Travel Journal</title>
</head>
<body>
  <div>
    <a href="/">Home</a>
    <% @user = User.find_by({ "id" => session["user_id"] }) %>
    <% if @user == nil %>
      <span style="float:right">
        <a href="/login">Login</a> | <a href="/users/new">Signup</a>
      </span>
    <% else %>
      <span style="float:right">
        Logged in as: <%= @user["username"] %> <a href="/logout">Logout</a>
      </span>
    <% end %>
  </div>

  <% if flash["notice"] != nil %>
    <p><%= flash["notice"] %></p>
  <% end %>

  <%= yield %>
</body>
</html>